.container {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  
  .logoContainer {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .title {
    font-size: 22px;
  }
}
